extends ../layout

block content 
    link(rel="stylesheet", href="/css/books/main.css")
    section.books
        aside 
            a(href="/books") 도서목록
            a(href="/books/insert") 도서등록
            a(href="/books/search") 도서검색
        article.body
            block book_content
