/* /css/books/main.css : views/books/main.pug 와 연결된 css */

section.books {
  flex: 1;
  display: flex;
  overflow: auto;
}

aside {
  flex: 1;
  border: 1px solid blue;
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  background-color: #e5f1e5;
  /* 
  aside 가 flex 이므로 a tag은 flex-item 이되고, 
  linke-block 성질을 갖는다 
  따라서 width 가 적용이 된다
  */
  a {
    width: 80%;
    margin: 10px auto;
    text-align: right;
    border-bottom: 2px solid #aaa;
    font-size: 1.2rem;
    font-weight: 900;
    color: blue;
    opacity: 0.5;
    transition: 0.7s;
    &:hover {
      border-bottom: 2px solid #333;
      opacity: 1;
    }
  }
}

article.body {
  flex: 5;
  border: 1px solid green;
  height: 100%;
  overflow: auto;
}

@media screen and (max-width: 768px) {
  section.books {
    flex-direction: column;
  }

  aside {
    flex: 0;
    flex-direction: row;
    padding-top: 0;
    a {
      text-align: center;
      font-size: 1.2rem;
    }
  }
}
