* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100vh;
}

body {
  height: 100%;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
}

a {
  color: inherit;
  text-decoration: none;
}

header {
  background-image: url("/images/header.png");
  background-size: 100vw 200%;
  background-position: top center;
  background-repeat: no-repeat;
  /* background-attachment: fixed; */

  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 2px 2px 2px black;
}

nav {
  background-color: #333;
  color: white;
  padding: 10px;
  ul {
    list-style-type: none;
    display: flex;
    li {
      padding: 10px 20px 3px;
      border-bottom: 3px solid transparent;
      transition: 0.5s;
      &:hover {
        cursor: pointer;
        border-bottom: 3px solid white;
      }
      &:nth-of-type(3) {
        margin-left: auto;
      }
    }
  }
}

footer {
  background-color: #ccc;
  padding: 0.5rem;
  text-align: center;
}
