* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

nav.main ul {
  display: flex;
  list-style: none;
  justify-content: right;
}

nav.main a {
  display: inline-block;
  padding: 12px 16px 5px;
  border-bottom: 3px solid transparent;
  margin: 5px;
  transition: 0.7s;
}

nav.main a:hover {
  border-bottom: 3px solid #777;
}
