extends layout

block content
  link(rel="stylesheet", href="/css/index.css")
  script(src="/js/memo.js")
  section.main 
    div.aside
      form.date
        input.todate(type="text",value= `${toDate}`,name="m_date")
        input.totime(type="text",value= `${toTime}`,name="m_time")
        input.btn_new(type="button", value="새로작성")
      ul
        each MEMO in MEMOS
          li 
            if MEMO.m_image
              img(src=`/images/${MEMO.m_image}` , alt="",width="20px")
            else
              img(src="/images/noImage.svg", alt="",width="20px")
            span= MEMO.m_subject
    div.aside
      form.input(method="POST",enctype="multipart/form-data")
        input.tosubject(type="text",placeholder="제목을 입력하세요",name="m_subject")
        input.tomemo(type="text",placeholder="메모를 입력하세요",name="m_memo")
        input(type="file",name="m_image")
        input.btn_save(type="button",value="저장")
