extends ../layout

block content 
    link(rel="stylesheet", href="/css/login.css")
    script(src="/js/login.js") 
    form.login(method="POST")
        if NEED
            div.error= NEED
        div
            input.login.userid(type="text",placeholder="USER ID",
            name="m_username")
        div
            input.login.password(type="password",placeholder="PASSWORD",
            name="m_password")
        div
            input.login.btn_login(type="button",value="로그인") 
        div
            span 
                a(href="/users/search") 아이디비번 찾기
            span |
            span 
                a(href="/users/join") 회원가입
