h3 {
  width: 80%;
  margin: 10px auto;
  text-align: center;
}
form {
  width: 80%;
  margin: 0 auto;
}

form.student.input input,
form.student.input button {
  display: block;
  width: 90%;
  margin: 5px auto;
  padding: 8px;
  border-radius: 10px;
}
