* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

nav.main ul {
  display: flex;
  justify-content: right;
  list-style: none;
}

nav.main a {
  display: inline-block;
  padding: 12px 16px;
}

nav.main a:hover {
  background-color: #ddd;
}
