h3.student,
div {
  width: 50%;
  margin: 0 auto;
}

div {
  display: flex;
  border: 1px solid #ccc;
}

strong,
span {
  padding: 5px;
}
strong {
  flex: 1;
  background-color: #ddd;
  text-align: right;
}
span {
  flex: 3;
  background-color: #eee;
}
