.arrow {
  border: solid rgba(0, 0, 0, 0.9);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
}

.up {
  transform: rotate(-135deg);
}
.down {
  transform: rotate(45deg);
}
.left {
  transform: rotate(135deg);
}
.right {
  transform: rotate(-45deg);
}
