form.join {
  width: 60%;
  margin: 10px auto;
  fieldset {
    border-radius: 10px;
  }
  legend {
    color: blue;
  }
}

form.join div {
  width: 80%;
  margin: 3px auto;
  display: flex;
  label,
  input {
    padding: 8px;
  }
  label {
    flex: 1;
    text-align: right;
  }
  input {
    flex: 3;
  }
}
