doctype html
html(lang="ko")
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta( name='viewport', content='width=device-width, initial-scale=1')
    title= title
    link(rel='stylesheet', href='/css/main.css')
    script(src="/js/main.js")
  body
    header 
      h1 My Read Book 2024
      p 올해는 무슨책을 읽어야 할까
    nav.main
      ul
        li Home
        li 도서정보
        li 로그인
        li 회원가입
    block content

    footer 
      center CopyRight &copy; callor@callor.com
